{% extends 'FrontEndBundle::layout.html.twig'   %}

{% block contenido %}
    {%if app.user == null%}
        <secction> Caja </section>
        <secction> Mesas abiertas </section>
        
   {%endif%}
{% endblock %}